@* 统一的导航菜单 *@
<!-- 导航菜单 -->
<div class="nav-menu-wrapper">
    <el-menu
        mode="horizontal"
        :default-active="activeMenu"
        class="nav-menu"
        style="border-bottom: 1px solid #e6e6e6; background: white;"
        @@select="handleMenuSelect">
        <el-menu-item index="/Home/Index">
            <el-icon><Monitor></Monitor></el-icon>
            <span>系统指标</span>
        </el-menu-item>
        <el-menu-item index="/Logs/Index">
            <el-icon><Document></Document></el-icon>
            <span>日志查看</span>
        </el-menu-item>
    </el-menu>
</div>
